#no-mobile {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top: 0;
}

@media screen and (max-width: 645px){
    #no-mobile {
        display: none;
    }
}

#no-landscape {
    position: absolute;
    z-index: 99;
    height: 100vh;
    background-color: coral;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    top:0;
}



@media screen and (orientation: landscape) {
    #no-landscape{
        display: none;
    }
}